{% load static %}

<html>
<head>
    <title>Liste des containers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>


<body>
<h1>Liste des containers</h1>

<h2>Rechercher un container</h2>

<form class="form-inline" action="../research/" method="GET" style="display:block;margin-top: 2rem;margin-bottom: 2rem">

    <input type="radio" name="typeRadio" id="typeRadio1" value="option1" checked>
    Par numéro du container<br>

    <input type="radio" name="typeRadio" id="typeRadio2" value="option2">
    Par numéro du lot<br>

    <input class="form-control mr-sm-2" type="text" placeholder="Rechercher..." aria-label="Recherche" id="recherche"
           name="form" value="{{ recherche }}">


    <button class="btn btn-outline-primary" type="submit">OK</button>
</form>



{% if containerList %}
    <h2>Liste des containers ({{ containerList.count }})</h2>
    {% if backPossible == True%}
        <a href="/SmartFreshApp">Revenir à la liste complète</a>
    {% endif %}
    <ul class="list-group list-group-flush">
        {% for container in containerList %}
            <li>
                <h4><a class="list-group-item list-group-item-action"
                       href="/SmartFreshApp/search/{{ container.numLot }}/">{{ container }} </a></h4>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <a href="/SmartFreshApp">Revenir à la liste complète</a>
    <p>Aucun container.</p>
{% endif %}
</body>

</html>

